<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <header>
        <div style="color:aqua;font-family:'HoloLens MDL2 Assets'; background-color:antiquewhite">
            <h1>
                This is Header for Second layout Page
            </h1>
        </div>
   </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div style="color:blueviolet;font-family:'HoloLens MDL2 Assets'; background-color:aqua">
            <h1>
                This is Footer for Second layout Page
            </h1>
        </div>
    </footer>
</body>
</html>
