@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.MySession</h1>

<br />

<a asp-controller="Login" asp-action="Logout" class="btn btn-secondary" style="margin-left: 100%;margin-top: -144px;">Logout</a>