@model LoginWorkWithTheHelpOFDBFirst.Models.User

@{
    ViewData["Title"] = "LoginPage";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@{
    if (ViewBag.Message != null)
    {
        <p style="color:red">@ViewBag.Message</p>
    }
}


<h1>LoginPage</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginPage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>            
        </form>
        <!-- Redirect to CreateUser page -->
        <div class="form-group mt-3">
            <a asp-controller="Home" asp-action="CreateUser" class="btn btn-success">Create New User</a>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
